let's make some dictionaries and dataframes
you can make a dataframe from a dictionary with lists as key:values
series are just the Lists in Dataframes with extra functionality
    you can only have ONE list in a Series, otherwise it's a dataframe
df.columns gives the list of columns and datatype
df.iloc (integer location) and df.loc show columns and rows

In [3]:
import pandas as pd

In [ ]:
df = pd.read_csv('data.csv')
schema_df = pd.read_csv('schema.csv')

In [ ]:
person = {
    "first": "Robert",
    "last": "Zheng",
    "email": "robzheng3@gmail.com"
}

In [1]:
people = {
    "first": ["Robert", 'John','Dave'],
    "last":["Zheng", "Egbert", "Strider"],
    "email": ["robzheng3@gmail.com", 'ghostlyTrickster@gmail.com','techTable@gmail.com']
}

In [2]:
people['email']

['robzheng3@gmail.com', 'ghostlyTrickster@gmail.com', 'techTable@gmail.com']

In [4]:
dataFrame = pd.DataFrame(people) #make dataframe from dictionary

In [6]:
dataFrame

    first     last                       email
0  Robert    Zheng         robzheng3@gmail.com
1    John   Egbert  ghostlyTrickster@gmail.com
2    Dave  Strider         techTable@gmail.com

In [7]:
dataFrame['email'] #displays series rather than list

0           robzheng3@gmail.com
1    ghostlyTrickster@gmail.com
2           techTable@gmail.com
Name: email, dtype: object

In [8]:
type(dataFrame['email']) #you can also do dataFrame.email to get a series

pandas.core.series.Series

In [10]:
dataFrame['last','email'] #this is just a dataframe, not a series since it's multiple columns

KeyError: ('last', 'email')

In [12]:
dataFrame.iloc[0] #gives the first row of info

first                 Robert
last                   Zheng
email    robzheng3@gmail.com
Name: 0, dtype: object

In [16]:
dataFrame.iloc[[1,2],1] #columns vs rows you can use lists within lists

1     Egbert
2    Strider
Name: last, dtype: object

In [17]:
dataFrame.loc[[1,2],['email','first']] #loc can use string labels

                        email first
1  ghostlyTrickster@gmail.com  John
2         techTable@gmail.com  Dave

In [20]:
dataFrame.loc[0:2,'first':'email'] #use colon to denote ...

    first     last                       email
0  Robert    Zheng         robzheng3@gmail.com
1    John   Egbert  ghostlyTrickster@gmail.com
2    Dave  Strider         techTable@gmail.com