probably a bit more than just the sort method

In [2]:
import pandas as pd

In [2]:
df = pd.read_csv('something.csv')

In [4]:
people = {
    "first": ["Robert", 'John','Dave'],
    "last":["Zheng", "Egbert", "Strider"],
    "email": ["robzheng3@gmail.com", 'ghostlyTrickster@gmail.com','techTable@gmail.com']
}

In [5]:
dataFrame = pd.DataFrame(people)

In [19]:
dataFrame

                        email     full_name   first     last
0         robzheng3@gmail.com  Robert Zheng  Robert    Zheng
1  ghostlyTrickster@gmail.com   John Egbert    John   Egbert
2         techTable@gmail.com  Dave Strider    Dave  Strider

In [6]:
people = {
    "first": ["Mabel", 'Star'],
    "last":["Pines", "Butterfly", ],
    "email": ["smileDip@gmail.com", 'spaceUnicorns@gmail.com',]
}
df2 = pd.DataFrame(people)
df2

   first       last                    email
0  Mabel      Pines       smileDip@gmail.com
1   Star  Butterfly  spaceUnicorns@gmail.com

In [7]:
#make it permanent by defining dataFrame to the appended version
dataFrame = dataFrame.append(df2,ignore_index=True)
dataFrame

    first       last                       email
0  Robert      Zheng         robzheng3@gmail.com
1    John     Egbert  ghostlyTrickster@gmail.com
2    Dave    Strider         techTable@gmail.com
3   Mabel      Pines          smileDip@gmail.com
4    Star  Butterfly     spaceUnicorns@gmail.com

In [9]:
#sort via specific columns, also make a secondary one too
dataFrame.sort_values(by=['last','first'])

    first       last                       email
4    Star  Butterfly     spaceUnicorns@gmail.com
1    John     Egbert  ghostlyTrickster@gmail.com
3   Mabel      Pines          smileDip@gmail.com
2    Dave    Strider         techTable@gmail.com
0  Robert      Zheng         robzheng3@gmail.com

In [15]:
#make one acending and another descending
dataFrame.sort_values(by=['last','first'], ascending=[False,True], inplace=True)
dataFrame

    first       last                       email
0  Robert      Zheng         robzheng3@gmail.com
2    Dave    Strider         techTable@gmail.com
3   Mabel      Pines          smileDip@gmail.com
1    John     Egbert  ghostlyTrickster@gmail.com
4    Star  Butterfly     spaceUnicorns@gmail.com

In [16]:
#sort by index
dataFrame.sort_index()

    first       last                       email
0  Robert      Zheng         robzheng3@gmail.com
1    John     Egbert  ghostlyTrickster@gmail.com
2    Dave    Strider         techTable@gmail.com
3   Mabel      Pines          smileDip@gmail.com
4    Star  Butterfly     spaceUnicorns@gmail.com

In [17]:
#sort and only see the column ur sorting by
dataFrame['last'].sort_values()

4    Butterfly
1       Egbert
3        Pines
2      Strider
0        Zheng
Name: last, dtype: object

In [ ]:
#you can do df[['colm1','colm2']].head(50) shows the 50 with only those 2 colms
#
#df['colm'].nlargest(10) shows top 10 largest
#df.nlargest(10,'colm') shows all the colms after sorting by that colmn