Here Comes the Data Analysis

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('Readable2.csv')

In [2]:
people = {
    "first": ["Robert", 'John','Dave'],
    "last":["Zheng", "Egbert", "Strider"],
    "email": ["robzheng3@gmail.com", 'ghostlyTrickster@gmail.com','techTable@gmail.com']
}

In [3]:
dataFrame = pd.DataFrame(people)

In [4]:
dataFrame

    first     last                       email
0  Robert    Zheng         robzheng3@gmail.com
1    John   Egbert  ghostlyTrickster@gmail.com
2    Dave  Strider         techTable@gmail.com

In [5]:
people = {
    "first": ["Mabel", 'Star'],
    "last":["Pines", "Butterfly", ],
    "email": ["smileDip@gmail.com", 'spaceUnicorns@gmail.com',]
}
df2 = pd.DataFrame(people)
df2

   first       last                    email
0  Mabel      Pines       smileDip@gmail.com
1   Star  Butterfly  spaceUnicorns@gmail.com

In [6]:
#make it permanent by defining dataFrame to the appended version
dataFrame = dataFrame.append(df2,ignore_index=True)
dataFrame

    first       last                       email
0  Robert      Zheng         robzheng3@gmail.com
1    John     Egbert  ghostlyTrickster@gmail.com
2    Dave    Strider         techTable@gmail.com
3   Mabel      Pines          smileDip@gmail.com
4    Star  Butterfly     spaceUnicorns@gmail.com

In [8]:
df

,Treatment,avg released LDH,LDH ttest,LDH total avg,% cytotoxicity,MTT avg,MTT ttest,MTT % viability
0,Control,0.960750,NaN,1.73450,0.000000,0.441000,NaN,100.000000
1,HQ*1000,0.797875,0.049691,1.47725,6.807270,0.455167,0.519827,103.212396
2,SPK,0.766250,0.470272,1.65250,1.990600,0.512000,0.140386,116.099773
3,HQ*100,0.785375,0.243736,1.59200,4.400000,0.477500,0.367692,108.276644
4,SPK+HQ*1000,0.734500,0.482552,1.55500,-1.704369,0.464167,0.580860,105.253212
5,SPK+HQ*100,0.751750,0.892088,1.41175,0.527506,0.459333,0.668565,104.157218

In [9]:
df['avg released LDH'].median() #median of all the average released LDH

0.7758125

In [10]:
df.median() #does it for all of them

avg released LDH      0.775813
LDH ttest             0.470272
LDH total avg         1.573500
% cytotoxicity        1.259053
MTT avg               0.461750
MTT ttest             0.519827
MTT % viability     104.705215
dtype: float64

In [11]:
df.describe() #some stats, the quartiles, mean, standard deviation,count, min/max

,avg released LDH,LDH ttest,LDH total avg,% cytotoxicity,MTT avg,MTT ttest,MTT % viability
count,6.000000,5.000000,6.000000,6.000000,6.000000,5.000000,6.000000
mean,0.799417,0.427668,1.570500,2.003501,0.468194,0.455466,106.166541
std,0.082237,0.315123,0.116807,3.122834,0.024534,0.207519,5.563207
min,0.734500,0.049691,1.411750,-1.704369,0.441000,0.140386,100.000000
25%,0.755375,0.243736,1.496687,0.131876,0.456208,0.367692,103.448602
50%,0.775813,0.470272,1.573500,1.259053,0.461750,0.519827,104.705215
75%,0.794750,0.482552,1.637375,3.797650,0.474167,0.580860,107.520786
max,0.960750,0.892088,1.734500,6.807270,0.512000,0.668565,116.099773

In [ ]:
#you can do .count() to get count, and just state a column to get Just that column

In [13]:
#.value_counts() is for counting mode/number of consistency
df['LDH ttest'].value_counts()
#normalization gives you the proportion rather than frequency
df['LDH ttest'].value_counts(normalize=True)

0.892088    0.2
0.470272    0.2
0.482552    0.2
0.049691    0.2
0.243736    0.2
Name: LDH ttest, dtype: float64

In [24]:
#grouping requires a combination splititng the object, APplying the function, and combining those results
LDHttest = df.groupby(['LDH ttest']) # a groupby object being defined
LDHttest.get_group['0.892088'] #shows all the results with the new filter

TypeError: 'method' object is not subscriptable

In [23]:
#filter version
filt = df['LDH ttest'] == 0.892088
df.loc[filt] #then you can add ['colm'].value_counts()

Empty DataFrame
Columns: [Treatment, avg released LDH, LDH ttest, LDH total avg, % cytotoxicity, MTT avg, MTT ttest, MTT % viability]
Index: []

In [25]:
#rather than median you can use .agg(['median','mean']) to get multiple results
LDHttest['MTT ttest'].agg(['median','mean']) #compare it with mtt ttests

             median      mean
LDH ttest
0.049691   0.519827  0.519827
0.243736   0.367692  0.367692
0.470272   0.140386  0.140386
0.482552   0.580860  0.580860
0.892088   0.668565  0.668565

In [30]:
#df.loc[df[something is part of a column]].str.contains('another thing').sum() for the sum of all appearances of both
#without the sum it's just a series of booleans
#when you use a grouping object you need to use the apply method
#LDHttest['MTT ttest'].apply(lambda x: str(x).str.contains("2").sum())
#set that as a variable make it equal to the variable of those that responded

AttributeError: 'Series' object has no attribute 'contains'

In [32]:
#you can combine/divide a series with another series, using panda's concat function
#new_df = pd.concat([ List of groups to combine])
LDHttest = df.groupby(['LDH ttest'])
MTTttest = df.groupby(['MTT ttest'])
ddf = pd.concat([LDHttest,MTTttest], axis='columns', sort=False)
ddf
#uh maybe since they're separate columns, fusing them doesn't work

TypeError: cannot concatenate object of type '<class 'pandas.core.groupby.generic.DataFrameGroupBy'>'; only Series and DataFrame objs are valid

In [ ]:
#ddf.rename(columns={'prev title':'new label','second prev label','sec new label'}, inplace=True)
#ddf['proportion'] = (ddf['LDHttest']/ddf['MTTttest'])*100     
#^ that's how you divide it